.timer {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 2px 4px 31px 13px rgba(0, 0, 0, 0.1);
}

.buttonContainer {
    display: flex;
}

.seconds {
    font-size: 24px;
    font-family: "Ropa Sans";
    text-transform: full-width;
}
