.header {
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    background-color: white;
    -webkit-box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.1);

    .focusLogo {
        flex: 1 1 0;
        text-align: center;
    }
    
    .dateTime {
        flex: 1 1 0;
        color: #7D7D7D;
    }
    .searchBar {
        flex: 1.5 1 0;
        border: 2px solid #7D7D7D;
        color: #7D7D7D;
        border-radius: 20px;
        padding: 4px 0px 4px 20px;
    }

    .addWidget {
        flex: .75 1 0;
        text-align: center;
    }

    .userIcon {
        flex: .4 2 0;
    }
}
